{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <div class="h-screen flex">
            {% include '_composants/_topBar.html.twig' %}
        <div class="flex-1 flex mt-14">
            {% include '_composants/_sideBar.html.twig' %}
            {# templates/client/index.html.twig #}
            {% include '_composants/_invoiceList.html.twig' %}
            {% include '_composants/_sidebarRight.html.twig' %}
        </div>
    </div>
{% endblock %}