{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="h-screen flex overflow-hidden">
        <div class="flex flex-col w-full lg:w-4/12 justify-center items-center bg-white gap-6">
            <img src="{{ asset('images/logoDevisio.png') }}" alt="logo" class="w-40 object-cover">
            {% include '_composants/_formLogin.html.twig' %}
        </div>
        <div class="hidden lg:flex items-center justify-center mx-auto lg:w-8/12">
                <img src="{{ asset('images/imgLogin.jpg') }}" alt="imgLogin" class="w-auto h-full aspect-auto">
        </div>
    </div>
{% endblock %}
