<div class="w-full">
    <div class="lg:ml-40 md:grid-cols-2 gap-4 mt-4 p-2 ml-2 ">
        <div class="container mx-auto mt-8">
        <h1 class="text-2xl font-semibold mb-4">{{ title }}</h1>
                {{ form_start(form, {'attr': {'class':'bg-white border border-gray-300 text-md rounded-md p-6 mb-6'}})}}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.terms,
                                'label': 'Terms'
                        } %}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.start_date,
                                'label': 'Date début'
                        } %}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.end_date,
                                'label': 'Date fin'
                        } %}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.duration,
                                'label': 'Durée'
                        } %}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.agency,
                                'label': 'Agence lié'
                        } %}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.client,
                                'label': 'Client'
                        } %}

                        <div class="flex justify-between mt-5">
                                {% include '_composants/_specialSubmitButton.html.twig' with {'buttonText': 'Save', 'buttonClass': 'btn bg-[#64c8ff] mt-2'} %}
                        </div>

                {{ form_end(form) }}
        </div>
    </div>
</div>