<div class="w-full">
    <div class="lg:ml-40 grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 p-2 ml-2 ">            
                <!-- Section 1 - Chffre 1 -->
                    <div class="bg-white p-4 rounded-2xl">
                        <h2 class="text-gray-500 text-lg font-semibold pb-1">Chiffres du mois</h2>
                        {# <div class="my1-"></div> <!-- Espace de séparation --> #}
                        <div class="bg-customBlue h-px  mb-6"></div> <!-- Ligne -->
                        <div class="chart-container" style="position: ; height:150px; width:100%">
                            <!-- Graphique -->
                            <h2 class="text-7xl font-bold text-center">20000€</h2>
                            {# <canvas id="usersChart" width="1072" height="300" style="display: block; box-sizing: border-box; height: 150px; width: 536px;"></canvas> #}
                        </div>
                    </div>

                    <!-- Section 1 - Chiffre 1  -->
                    <div class="bg-white p-4 rounded-2xl">
                        <h2 class="text-gray-500 text-lg font-semibold pb-1">Vente du mois</h2>
                        {# <div class="my1-"></div> <!-- Espace de séparation --> #}
                        <div class="bg-customBlue h-px  mb-6"></div> <!-- Ligne -->
                        <div class="chart-container" style="position: ; height:150px; width:100%">
                            <!-- Graphique -->
                            <h2 class="text-7xl font-bold text-center">150</h2>
                            {# <canvas id="usersChart" width="1072" height="300" style="display: block; box-sizing: border-box; height: 150px; width: 536px;"></canvas> #}
                        </div>
                    </div>

                    <!-- Section 3 - Table des clients  -->
            <div class="bg-white p-4 rounded-md">
                <h2 class="text-gray-500 text-lg font-semibold pb-4">Devis</h2>
                <div class="my-1"></div> 
                <div class="bg-customBlue h-px mb-6"></div> 
                <table class="w-full table-auto text-sm">
                <thead>
                    <tr class="text-sm leading-normal">
                        <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Nom</th>
                        <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Date</th>
                        <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="hover:bg-grey-lighter">
                        <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                        <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                        <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                    </tr>
                    <tr class="hover:bg-grey-lighter">
                        <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                        <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                        <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                    </tr>
                    <tr class="hover:bg-grey-lighter">
                        <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                        <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                        <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                    </tr>
                    <tr class="hover:bg-grey-lighter">
                        <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                        <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                        <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                    </tr>
                    <tr class="hover:bg-grey-lighter">
                        <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                        <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                        <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                    </tr>
                    <tr class="hover:bg-grey-lighter">
                        <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                        <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                        <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                    </tr>
                    <tr class="hover:bg-grey-lighter">
                        <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                        <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                        <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                    </tr>
                    <tr class="hover:bg-grey-lighter">
                        <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                        <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                        <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                    </tr>
                    <tr class="hover:bg-grey-lighter">
                        <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                        <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                        <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right mt-4">
                <button class="bg-customBlue text-white font-semibold py-2 px-4 rounded">
                    Voir plus
                </button>
            </div>
        </div>

        <!-- Section facture  -->
        <div class="bg-white p-4 rounded-md">
        <h2 class="text-gray-500 text-lg font-semibold pb-4">Factures</h2>
        <div class="my-1"></div> 
        <div class=" bg-customBlue h-px mb-6"></div> 
        <table class="w-full table-auto text-sm">
            <thead>
                <tr class="text-sm leading-normal">
                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Nom</th>
                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">Date</th>
                    <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Montant</th>
                </tr>
            </thead>
            <tbody>
                <tr class="hover:bg-grey-lighter">
                    <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                    <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                    <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                </tr>
                <tr class="hover:bg-grey-lighter">
                    <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                    <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                    <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                </tr>
                <tr class="hover:bg-grey-lighter">
                    <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                    <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                    <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                </tr>
                <tr class="hover:bg-grey-lighter">
                    <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                    <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                    <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                </tr>
                <tr class="hover:bg-grey-lighter">
                    <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                    <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                    <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                </tr>
                <tr class="hover:bg-grey-lighter">
                    <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                    <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                    <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                </tr>
                <tr class="hover:bg-grey-lighter">
                    <td class="py-2 px-4 border-b border-grey-light">Jean Pierre</td>
                    <td class="py-2 px-4 border-b border-grey-light">24/01/2024</td>
                    <td class="py-2 px-4 border-b border-grey-light text-right">1500€</td>
                </tr>
                
            </tbody>
        </table>
        <div class="text-right mt-4">
            <button class="bg-customBlue text-white font-semibold py-2 px-4 rounded">
                Voir plus
            </button>
        </div>
        
        </div>
    </div>
</div>