<div class="w-full">
    <div class="lg:ml-40 md:grid-cols-2 gap-4 mt-4 p-2 ml-2 ">  
        <h1 class="text-3xl">Liste des produits</h1>
        <div class="bg-white p-4 rounded-md">
            <div class="flex justify-between items-center">
                <h2 class="text-gray-500 text-lg font-semibold pb-4">Produits</h2>
                    <a href="{{ path('product_new') }}" class="justify-end w-1/8 flex items-center bg-primary text-white font-semibold py-1 px-4 rounded">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                        </svg>
                        Ajouter
                    </a>
            </div>
            <div class="my-1"></div> 
            <div class="bg-primary h-px mb-6"></div> 
                <table class="w-full table-auto text-sm">
                    <thead>
                        <tr class="text-sm leading-normal">
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-left">Label</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-left">Category</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Tax</th>
                            <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr class="hover:bg-grey-lighter">
                                <td class="py-2 px-4 border-b border-grey-light">{{ product.label }}</td>
                                <td class="py-2 px-4 border-b border-grey-light">{{ product.category }}</td>
                                <td class="py-2 px-4 border-b border-grey-light text-right">{{ product.tax }}</td>
                                <td class="py-2 px-4 border-b border-grey-light justify-end flex gap-4">
                                    {% set product_show = path('product_show', {'id': product.id}) %}
                                    {% set product_edit = path('app_product_index', {'id': product.id}) %}
                                    {% include '_composants/_specialButton.html.twig' with {'specialButtonAction':product_show,'specialButtonText': 'Voir'} %}
                                    {% include '_composants/_specialButton.html.twig' with {'specialButtonAction':product_edit,'specialButtonText': 'Modifier'} %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">Aucun résultat trouvé</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>  
        
    </div>
</div>