{% set specialButtonText = specialButtonText|default('Save') %}
{% set specialButtonClass = specialButtonClass|default('bg-secondary') %}
<button type="submit" class="{{ buttonClass }} w-40 py-1 rounded-md text-white font-semibold">{{ buttonText }}</button>
