{% extends 'base.html.twig' %}

{% block title %}Devisio | Contact{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="bg-third mx-auto text-white py-4 sticky top-0">
        <div class="mx-16 flex justify-between items-center">
            <img src="{{ asset('images/LogoPlane.png') }}" alt="logo" class="h-auto w-24 aspect-auto">
        </div>
    </header>
    <!-- Contenu principal -->
    <main class="w-full max-w-full overflow-none">
        <!-- Blocs de texte et d'image -->
        <section class="w-full flex flex-col">
            <div class="bg-primary text-white flex flex-col h-screen">
                <div class="flex h-full w-full md:flex-row flex-col">
                    <div class="flex flex-col justify-center mx-auto w-1/2 p-16">
                        <img src="/images/logoDevisioWhite.png" alt="logo" class="h-auto w-2/3 aspect-auto mb-16">
                        <p class="text-4xl font-normal mb-2 mr-16">Un outil unique pour répondre à tous les besoins de votre agence</p>
                    </div>
                    <div class="flex items-center justify-center mx-auto w-1/2 overflow-hidden">
                        <img src="/images/happy-woman.jpg" alt="Image 1" class="w-full h-full object-cover">
                    </div>
                </div>
            </div>
            <div class="bg-cream justify-center p-16 flex flex-col h-screen">
                <div class="flex justify-center h-auto w-full md:flex-row flex-col">
                    <div class="flex items-center justify-center p-8 mx-auto w-1/2">
                        <img src="/images/Dashboard.png" alt="Dashboard" class="shadow-2xl rounded-xl">
                    </div>
                    <div class="flex flex-col justify-center mx-auto w-1/2 text-right">
                        <h2 class="text-6xl font-bold mb-8 text-primary">Simplicité</h2>
                        <h3 class="text-4xl font-bold mb-2 text-secondary">Des devis simples et rapides en quelques clics seulement.</h3>
                    </div>
                </div>
            </div>
            <div class="text-white flex flex-col h-screen w-full">
                <div class="flex h-full md:flex-row flex-col">
                    <div class="bg-primary mx-auto p-16 w-1/3">
                        <h2 class="text-6xl font-bold mb-4">Nous contacter</h2>
                        <h3 class="text-4xl font-bold mb-2">Formulaire de contact</h3>
                    </div>
                    <div class="bg-secondary flex items-center justify-center mx-auto w-2/3">
                        {% include '_composants/_formContact.html.twig' %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="bg-blue-800 text-white py-4">
        <div class="container mx-auto">
            <p>© 2024 Devisio. Tous droits réservés.</p>
        </div>
    </footer>
{% endblock %}
