<div class="w-full">
    <div class="lg:ml-40 md:grid-cols-2 gap-4 mt-4 p-2 ml-2 ">
        <div class="container mx-auto mt-8">
        <h1 class="text-2xl font-semibold mb-4">{{ title }}</h1>
                {{ form_start(form, {'attr': {'class':'bg-white border border-gray-300 text-md rounded-md p-6 mb-6'}})}}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.unit_price,
                                'label': 'Prix'
                        } %}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.quantity,
                                'label': 'Quantité'
                        } %}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.additional,
                                'label': 'Commentaires'
                        } %}
                        {% include '_composants/_specialFormField.html.twig' with {
                                'form': form.product,
                                'label': 'Produit'
                        } %}

                        <div class="flex justify-between mt-5">
                                {% include '_composants/_specialSubmitButton.html.twig' with {'buttonText': 'Save', 'buttonClass': 'btn bg-[#64c8ff] mt-2'} %}
                        </div>
                {{ form_end(form) }}
        </div>
    </div>
</div>
