{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle ligne{% endblock %}

{% block body %}
    <h1>Créer une nouvelle ligne</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {# Ajoutez d'autres champs de formulaire pour la ligne #}
    <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}
