@page {
    margin: 0;
    font-family: 'Helvetica', serif;
    font-size: 9pt;
}

table { border-collapse: collapse; }
th, td { padding: 1mm; vertical-align: top;}
div { vertical-align: top; }
p { margin: 0; padding:0; }

p.clear, div.clear, br.clear { clear: both; }
div.blank { height: 1em; }

.nowrap { white-space:nowrap; }
.large {font-size: large;}
.larger {font-size: larger;}
.xx_small {font-size: xx-small;}
.small {font-size: small;}
.bold { font-weight: bold; }
.italic { font-style: italic; }
.right { text-align: right; }
.center { text-align: center; }
.left { text-align: left; }

body { margin: 40mm 10mm 20mm 10mm; }

main { width: 100%; }

header { position: fixed; top: 0; left: 0; right: 0; height:20mm; padding: 10mm; }
    header div.logo { float:left; width:100mm; }
        header div.logo img { width:100mm; height:30mm; }
    header div.infos { width:90mm; float:right; text-align: right; }

footer { position: fixed; bottom: 0; left: 0; right: 0; height: 20mm; color: red }
    footer div { margin: 0 10mm; padding-top: 2mm; text-align: center; border-top: thin solid grey; }

#watermark {
    position: absolute;
    top: 50%; left: -1em;
    transform: rotate(-45deg);
    white-space:nowrap;
    font-size: 36pt;
    font-weight: bold;
    color:#ffc0cb;
    border: thin solid #ffc0cb;
    opacity: 0.5;
}

blockquote {
    margin: 1em 0;
    padding-left: 3mm;
    border-left: medium solid grey
}

div.adresse_emetteur { width:80mm; float:left; }
    div.adresse_emetteur .content{
        background-color: lightgrey;
        height:35mm;
        padding: 3mm;
    }

div.adresse_client { width:100mm; float:right; }
    div.adresse_client .content{
        border: thin solid grey;
        height: 35mm;
        padding: 3mm;
    }

div.main-content-description {
    width: 100%;
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin solid black;
}

table.main-content { width: 100%; margin-top: 1em; }
    table.main-content th { border-bottom:thin solid grey; }
    table.main-content tr.product_total td { border-top: thin solid gray; }
    table.main-content td:first-child { width:60%; }
    table.main-content td.legal { padding-top: 1em; }

/* surcharge spécifique pour la tailles des colonnes */
table.main-content.br td:first-child { width:150mm; }

table.paiment_infos, table.totaux {
    page-break-inside: avoid;
}

table.paiment_infos { width: 60% ; float: left; }

table.totaux { width: 40%; float: right; }
table.totaux tr:first-child {}
table.totaux tr:nth-child(2) { background-color: #f8f8f8; }
table.totaux tr:nth-child(3) { background-color: #e0e0e0; }

div.block-left { width:90mm; float:left; page-break-inside: avoid;}
div.block-right { width:90mm; float:right; page-break-inside: avoid;}
    div.block-left .content, div.block-right .content {
        border: thin solid grey;
        height: 40mm;
        padding: 3mm;
    }

table.termination-content { width: 100%; margin-top: 1em;}
    table.termination-content th { border-bottom:thin solid grey; }

div.termination { margin-top: 2em; }
    div.termination .date {
        text-align: right;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    div.termination .subject {
        text-align: left;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    div.termination p { line-height: 2em; }

div.signature {
    text-align: right;
    margin-top: 1em;
}

.table-bordered th, .table-bordered td {
    border: 1px solid darkgray!important
}

.invoiceTable {
    width: 100%;
    font-weight: normal !important;

    tbody td {
        text-align: right;
    }
}

.blank_bottom {
    margin-bottom: 1em;
}

.lines_inside_divider {
    border: none;
    border-top: 1px solid darkgrey;
    color: #333;
}

.lines_divider {
    border: none;
    border-top: 3px double darkgrey;
    color: #333;
}

.post_lines_divider {
    border: none;
    border-top: 3px double #333;
    color: #333;
}

table.table_full_width {
    width: 95%;
}

.dark_red_color {
    color: #c80000;
    font-weight: bolder;
}

.red_color {
    color: red;
}

.bank_table {
    border-collapse: collapse;
    table-layout:fixed;
}

.bank_table tr { border: none; }
.bank_table td {
    border-right: solid 1px black;
    border-left: solid 1px black;
    text-align: center;
    word-wrap:break-word;
}

.facture_totaux {width: 100%; height: 10em;}
table.facture_totaux tr:first-child {}
table.facture_totaux tr:nth-child(2) { background-color: #f8f8f8; }
table.facture_totaux tr:nth-child(3) { background-color: #e0e0e0; }

.versements_table {
    font-size: 70%;
    width: 100%;
}
.versements_table tr:nth-child(1) {
    width: 10%;
}
.versements_table tr:nth-child(2) {
    width: 20%;
}
.versements_table tr:nth-child(4) {
    width: 15%;
}

.versements_table tr { border: none; }
.versements_table td {
    border-top: solid 1px darkgrey;
}

.no_page_break {
    page-break-inside: avoid;
}

.table_lines {
    margin-bottom: 1em;
}

.left_padding {
    padding-left: 1em;
}

.facture_infos {
    width: 55%;
    position: absolute;
    left: 0;
    top: 0;
}

.bottom_columns {
    position: relative;
    width: 100%;
    height: 40em;
}

.facture_left_column {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
}

.fraud_warning {
    position: absolute;
    left: 0;
    bottom: 5em;
}

.facture_line_infos_divider {
    border-bottom: 1px dashed darkgrey
}